.section-title {

     margin-top: 50px;
     margin-bottom: 50px;
     color: #051b35;
     font-size: 20px;
     font-family: 'Roboto Condensed', sans-serif;
     font-weight: 400;
    
 }
 
 .section-title h2 {
     font-size: 30px;
     font-weight: 600;
     position: relative;
     display: inline-block;
     margin: 0;
 }

 .section-title h2:before {
     position: absolute;
     top: 17px;
     left: -100px;
     width: 80px;
     height: 2px;
     content: "";
     background-color: #000;
 }

 .section-title h2:after {
     position: absolute;
     top: 17px;
     right: -100px;
     width: 80px;
     height: 2px;
     content: "";
     background-color: #000;
 }



 .center {
   
     margin-left: auto;
     margin-right: auto;
     width: 50%;
   }


   .category-name{

     color: #000000;
     font-size: 13px;
     font-family: 'Roboto Condensed', sans-serif;
     font-weight: 600;
        
   }


   .card {
     width: 100% !important;
     text-decoration: none;
     border: 2px ;
     border-radius: 0% !important;
     box-shadow: 0 0 8px 0 rgba(141, 18, 29, 0.1)
 }
 .card:hover {
     border-radius: 0% !important;
     text-decoration: none;
     background-color: #e6dade;
     box-shadow: 12 12 12px 0 rgba(226, 60, 88, 0.1)
 }
